<!DOCTYPE html>
<html lang="en">
  <% include header.html %>

  <body id="page-top">
    <h2><%= __("Adverts List") %></h2>
    <%if (results) {%>
    <table>
      <thead>
        <th><%= __("Name") %></th>
        <th><%= __("IsSell") %></th>
        <th><%= __("Price") %></th>
        <th><%= __("Image src") %></th>
        <th><%= __("Tags") %></th>
      </thead>
      <tbody>
        <% results.forEach( producto => { %>
        <tr>
          <td><%= producto.name %></td>
          <td><%= producto.sell%></td>
          <td><%= producto.price%></td>
          <td><%= producto.image%></td>
          <td><%= producto.tags%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <%}else{ %>
    <p>Haz Login si kieres ver nuestros articulos.</p>
    <% } %>
  </body>
</html>
